
.savp-icon-left:before { content: '\e800'; } /* '' */
.savp-icon-right:before { content: '\e801'; } /* '' */
.savp-icon-down:before { content: '\e802'; } /* '' */
.savp-icon-up:before { content: '\e803'; } /* '' */
.savp-icon-ok:before { content: '\e804'; } /* '' */
.savp-icon-ok-circle:before { content: '\e805'; } /* '' */
.savp-icon-up-open-big:before { content: '\e806'; } /* '' */
.savp-icon-right-open-big:before { content: '\e807'; } /* '' */
.savp-icon-left-open-big:before { content: '\e808'; } /* '' */
.savp-icon-down-open-big:before { content: '\e809'; } /* '' */
.savp-icon-up-open-mini:before { content: '\e80a'; } /* '' */
.savp-icon-right-open-mini:before { content: '\e80b'; } /* '' */
.savp-icon-left-open-mini:before { content: '\e80c'; } /* '' */
.savp-icon-down-open-mini:before { content: '\e80d'; } /* '' */
.savp-icon-cancel:before { content: '\e80e'; } /* '' */
.savp-icon-dot-3:before { content: '\e80f'; } /* '' */
.savp-icon-plus:before { content: '\e810'; } /* '' */
.savp-icon-plus-squared:before { content: '\e811'; } /* '' */
.savp-icon-popup:before { content: '\e812'; } /* '' */
.savp-icon-check:before { content: '\e813'; } /* '' */
.savp-icon-plus-circled:before { content: '\e814'; } /* '' */
.savp-icon-cancel-squared:before { content: '\e815'; } /* '' */
.savp-icon-cancel-circled:before { content: '\e816'; } /* '' */
.savp-icon-cw:before { content: '\e817'; } /* '' */
.savp-icon-arrows-ccw:before { content: '\e818'; } /* '' */
.savp-icon-ccw:before { content: '\e819'; } /* '' */
.savp-icon-down-open:before { content: '\f004'; } /* '' */
.savp-icon-up-open:before { content: '\f005'; } /* '' */
.savp-icon-right-open:before { content: '\f006'; } /* '' */
.savp-icon-left-open:before { content: '\f007'; } /* '' */